<h1> Generate Accesscode</h1>


<div class="find">
 <div class="right-inner-addon ">
 <input type="text" [(ngModel)]="text" id="myInput" (keyup)="myFunction()" placeholder="search"  class="form-control glyphicon glyphicon-search" /><br>
 </div>
</div>
<div class="table-responsive">
<table  class="table table-hover" border=5 id="myTable">
<tr>
  <th>Customer Name</th>
  <th>Device Name</th>
  <th>Device Id</th>
  <th>Date of Purchase</th>
  <th>Total Amount</th>
  <th>Balance Amount</th>
  <th>Charge Per Day</th>
  <th>Select</th>
</tr>




<tr *ngFor="let task of tasks">
    
<td> {{task.customername}} </td>
<td>{{task.DeviceName}}</td>
<td> {{task.DeviceId}}</td>
<td> {{task.Dop}}</td>
<td>{{task.totalamount}}</td>
<td>{{task.balanceamount}}</td>
<td>{{task.chargepd}}</td>
<td align="center"><input type="radio" name="payment" value="{{task.DeviceId}}"  required></td>

</tr>



</table>
</div>

<div style="text-align:center;">
   
  <input type="submit" [routerLink]="['/pay']" class="btn btn-primary btn-lg  site-btn pull-center" value="submit">

</div><br><br>


 
 
  
  
 
  
 
