<!DOCTYPE html>
<html>
<head>
<title>device</title>
</head>
<body>
<h1>Welcome</h1>
{{#if published}}
   {{content}}
 {{/if}}
<table border=5>
<tr>
  <th>DeviceName:</th>
  <th>DeviceID</th>
  <th>Dop</th>
</tr>
{{#each newUser}}
{{#each this}}

<br>
<tr>
<td>{{this.DeviceName}}</td>
<td>{{this.DeviceId}}</td>
<td>{{this.Dop}}</td>
</tr>
{{/each}}
{{/each}}
</table>
</body>
</html>   
