<script src="/js/my.js">
 
  </script>

<div id="mydiv1">
{{#if errors}}
{{#each errors}}
<div class="alert alert-danger">{{msg}}</div>
{{/each}}
{{/if}}
{{#if success_msg}}
            <div class="alert alert-success">{{success_msg}}</div>
            {{/if}}
             {{#if error_msg}}
            <div class="alert alert-danger">{{error_msg}}</div>
            {{/if}}
</div>

<div class="container">
   <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-heading">
        <h2 class="text-center">Forgot Password?</h2>
      </div>
      <hr />
      <div class="modal-body">
        <form action="/users/forgot1" data-toggle="validator" method="post" role="form">
          <div class="form-group">
            <div class="input-group">

              <span class="input-group-addon">
              <span class="glyphicon glyphicon-user"></span>
              </span>
              <input type="text" class="form-control" value="{{user.username}}" name="username" placeholder="Enter Username" pattern="^([a-zA-z\s]{1,32})$" data-error="can't be left blank --or--  numbers cant be used " required />

             </div>
             <font size="4pt">
             <div class="help-block with-errors" style="background-color: beige;"></div>
             </font>
            <br>
              <div class="form-group text-center">
            <button type="submit" class="btn btn-success btn-lg">Submit</button>
          </div>
            </form>
          </div>
          </div>
          </div>
          </div>
