<html>
<body>
  <head>
    <title>login</title>
    <style type="text/css">
         .login{
           padding-top: 200px;

           padding-left: 500px;

         }
    </style>

<center>
<div class="container">
  <div class="login">
      <div class="jumbotron">
    <form method="post" action="/users/login">
      <center><h2  class="Center">Login</h2></center>
        <div class="input-group">

          <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
          <input id="email" type="text" class="form-control" name="username" placeholder="username">
        </div>
        <br>
        <div class="input-group">

          <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
          <input id="password" type="password" class="form-control" name="password" placeholder="Password">
        </div>
        <br>
        <div style="text-align:center;">
            <button type="submit" class="btn btn-primary btn-md">Login</button>
        </div>


        </form>
      </div>
</div>
</div>
</center>
</body>
</html>
