<div class="container">
    <div class="container-fluid">

    <h1 >Add Customer</h1><br>

<form (submit)="onAddCustomerSubmit()">

<div class="form-group"[class.has-error]="custControl.invalid && custControl.touched">
  <label class="control-label">Customer Name <font class="redstar"> * </font></label><br>
  <input type="text" class="form-control"
  placeholder="customer name" [(ngModel)]="customername" name="customername" #custControl="ngModel" required>
<span class="help-block" *ngIf="custControl.invalid && custControl.touched">Customer Name is required</span>
</div><br>

<div class="form-group"[class.has-error]="deviceControl.invalid && deviceControl.touched">
  <label class="control-label">Device Name <font class="redstar"> * </font></label><br>
  <input type="text" class="form-control"
  placeholder="device name" [(ngModel)]="DeviceName" name="DeviceName" #deviceControl="ngModel" required>
<span class="help-block" *ngIf="deviceControl.invalid && deviceControl.touched">Device Name is required</span>
</div><br>

<div class="form-group"[class.has-error]="idControl.invalid && idControl.touched">
  <label class="control-label">Device ID <font class="redstar"> * </font></label><br>
  <input type="text" class="form-control"
  placeholder="device id" [(ngModel)]="DeviceId" name="DeviceId" #idControl="ngModel" required>
<span class="help-block" *ngIf="idControl.invalid && idControl.touched">Device ID is required</span>
</div><br>


<div class="form-group" [class.has-error]="DopControl.invalid && DopControl.touched">
  <label>Date Of Purchase<font class="redstar"> * </font></label>
 <input type="text" bsDatepicker [bsConfig]="datePickerConfig"[(ngModel)]="Dop" placeholder="dd/mm/yyyy" class="form-control" name="Dop" id="datepicker"
 #DopControl="ngModel" required/>
 <span class="help-block" *ngIf="DopControl.invalid && DopControl.touched">Date Of Purchase is required</span>

</div>

<div class="form-group"[class.has-error]="totalamountControl.invalid && totalamountControl.touched">
  <label class="control-label">Total Amount <font class="redstar"> * </font></label><br>
  <input type="text" class="form-control"
  placeholder="total amount" [(ngModel)]="totalamount" name="totalamount" #totalamountControl="ngModel" required>
<span class="help-block" *ngIf="totalamountControl.invalid && totalamountControl.touched">Total Amount is required</span>
</div><br>

<div class="form-group"[class.has-error]="balanceamountControl.invalid && balanceamountControl.touched">
  <label class="control-label">Balance amount <font class="redstar"> * </font></label><br>
  <input type="text" class="form-control"
  placeholder="balance amount" [(ngModel)]="balanceamount" name="balanceamount" #balanceamountControl="ngModel" required>
<span class="help-block" *ngIf="balanceamountControl.invalid && balanceamountControl.touched">Balance Amount is required</span>
</div><br>

<div class="form-group"[class.has-error]="chargepdControl.invalid && chargepdControl.touched">
  <label class="control-label">Charge Per Day <font class="redstar"> * </font></label><br>
  <input type="text" class="form-control"
  placeholder="charge per day" [(ngModel)]="chargepd" name="chargepd" #chargepdControl="ngModel" required>
<span class="help-block" *ngIf="chargepdControl.invalid && chargepdControl.touched">Charge per day is required</span>
</div><br>


<div style="text-align:center;">
    <button type="submit" class="btn btn-primary btn-md">Add Customer</button>
</div>

</form>

  </div>
</div>
<br><br>
