

      <form (submit)="onRegisterSubmit()" >
       
        <div class="form-group"[class.has-error]="nameControl.invalid && nameControl.touched">
          <div class="input-group">
          <span class="input-group-addon">
            <span class="glyphicon glyphicon-user"></span>
            </span> <input type="text" class="form-control"
          placeholder="Name" [(ngModel)]="name" name="name" #nameControl="ngModel" required>
        </div> 
          <span class="help-block" *ngIf="nameControl.invalid && nameControl.touched">Name is required</span>
      
      </div><br>
        




            <div class="form-group"[class.has-error]="usernameControl.invalid && usernameControl.touched">
          <div class="input-group">
            <span class="input-group-addon">
            <span class="glyphicon glyphicon-user"></span>
          </span> <input type="text" class="form-control"
          placeholder="User Name" [(ngModel)]="username" name="username" #usernameControl="ngModel" required>
        </div> 
          <span class="help-block" *ngIf="usernameControl.invalid && usernameControl.touched">User Name is required</span>
      
      </div><br>


      <div class="form-group"[class.has-error]="emailControl.invalid && emailControl.touched">
          <div class="input-group">
            <span class="input-group-addon">
            <span class="glyphicon glyphicon-user"></span>
          </span> <input type="email" class="form-control"
          placeholder="Email" [(ngModel)]="email" name="email" #emailControl="ngModel" required>
        </div> 
          <span class="help-block" *ngIf="emailControl.invalid && emailControl.touched">Email is required</span>
      
      </div><br>


      <div class="form-group"[class.has-error]="passwordControl.invalid && passwordControl.touched">
          <div class="input-group">
            <span class="input-group-addon">
            <span class="glyphicon glyphicon-user"></span>
          </span> <input type="password" class="form-control"
          placeholder="Password" [(ngModel)]="password" name="password" #passwordControl="ngModel" required>
        </div> 
          <span class="help-block" *ngIf="passwordControl.invalid && passwordControl.touched">Password is required</span>
      
      </div><br>



        
      <div class="form-group"[class.has-error]="password2Control.invalid && password2Control.touched">
          <div class="input-group">
            <span class="input-group-addon">
            <span class="glyphicon glyphicon-user"></span>
          </span> <input type="password" class="form-control"
          placeholder="Confirm Password" [(ngModel)]="password2" name="password2" #password2Control="ngModel" required>
        </div> 
          <span class="help-block" *ngIf="password2Control.invalid && password2Control.touched">Confirm Password is required</span>
      
      </div><br>


<p><font color="white">Security Question:</font></p>
<div class="form-group"[class.has-error]="securityControl.invalid && securityControl.touched">
    <div class="input-group">
      <span class="input-group-addon">
      <span class="glyphicon glyphicon-user"></span>
    </span> 
    <select class="form-control" [(ngModel)]="security" name="security" #securityControl="ngModel" placeholder="select a question" required>
        <option value="" disabled selected>Select your Question</option>
      <option id="que1">what is the name of your first school?</option>
      <option id="que2">which city were you born in?</option>
      <option id="que3">what is your nick name?</option>
      <option id="que4">what is your mother's middle name?</option>
    </select>
  </div>
    <span class="help-block" *ngIf="securityControl.invalid && securityControl.touched">Please select a Question</span>

</div><br>


<div class="form-group"[class.has-error]="answerControl.invalid && answerControl.touched">
    <div class="input-group">
      <span class="input-group-addon">
      <span class="glyphicon glyphicon-user"></span>
    </span> <input type="text" class="form-control"
    placeholder="Answer" [(ngModel)]="answer" name="answer" #answerControl="ngModel" required>
  </div> 
    <span class="help-block" *ngIf="answerControl.invalid && answerControl.touched">Answer is required</span>

</div><br>



        <div class="form-group text-center">
          <input type="submit"  class="btn btn-success btn-lg" value="SignUp">

        </div>

      </form>




      

    
